body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
    display: grid;
    height: 100%;
    grid-template-columns: 300px auto;
}
input{
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #e7e5e4;
}
.search-bar{
    display:flex;
    justify-content: center;
    padding:1em;
    height: fit-content;
    gap: 0.5em;
}
.user-info{
    display: flex;
    padding: 0 1em;
    gap: 0.5em;
}

.profile-pic{
    height: 12vh;
    width: 5vw;
    border-radius: 50%;
    border-style: double;
    border-color: #F3B1AD;
}


.Calculator{ 
    background-image: url("images/Calculator.png");
    background-position: center;
    background-size: cover;
}

.Rock-Paper-Scissors{
    background-image: url("images/Rock-Paper-Scissors.png");
    background-position: center;
    background-size: cover;
}

.Etch-a-sketch{
    background-image: url("images/Etch-a-sketch.png");
    background-position: center;
    background-size: cover;
}

.signupForm{
    background-image: url("images/signupForm.png");
    background-position: center;
    background-size: cover;
}

h3{
 margin: 0;
}

.git{
    height:2.5em;
    width:2.5em;
    opacity: 0.9;
}
/*left*/
.left{
    display: grid;
}

/*background-image: linear-gradient(to bottom, #F3B1AD, #B48D8E);*/

nav{
    display: flex;
    flex-direction: column;
    gap:5px;
}

ul#left-list{
    list-style: none;
    padding: 0 0 0.5em 2em;
}


ul#right-list li {
    list-style: none;
    background-image: url(images/list-icon.png);
    background-repeat: no-repeat;
    /* background-position: left center; */
    background-size: 20px;
    padding: 0.5em 2em;
    background-position-y: 0.7em;
}


li::marker{
    font-size: 1em;
    list-style-position: inside;
    background-size: 20px;

}

ul#right-list{
padding: 0.5em 0.5em;

}

ul#left-list li{
    padding-top: 2em;
    display: flex;
    gap: 0.5em;
    align-items: center;
    border-bottom-color: #f3c2bf;
    border-bottom-style: dashed;
}

.dashboard{
    display: flex;
}

.dashboard-icon{
    height: 7vh;
    width: 4vw;
    padding: 0 0.5em;
}


/*.Calculator, .Etch-a-sketch, .Rock-Paper-Scissors, .signupForm{

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-style: solid;
    border-radius: 15px;
}*/

.buttons{
    
}

button{
    border-radius: 15%;
    background-color: beige;
    padding: 0.5em;
    margin: 0.5em;
}

.section-1, .section-2{
    display: flex;
}

.projects{
   display:flex;
   flex-direction: column;
   gap:15px;
   padding: 0 0 0 1em;
}

a {
    text-decoration: none;
    color: black;
    font-size:1.4em;
}

/*right*/

.right{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 12em 2fr;
    gap: 30px;
    background-color: #e7e5e4;
}

.header {
    background-color: #fafaf9;
    grid-column: 1 / 3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4em 3fr;
    
}

.sidebar  {
    background-color: beige;
    grid-column: 1/2;
    grid-row: 1/5;
    padding-top: 5em;
    
}

.material-symbols-outlined{
    font-size: larger;
    opacity: 0.8;
}

.profile{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    
}

.content{
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:15px;
    padding-bottom: 30px;
}

.content-left{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 3fr);
    gap:2.5em;
    
}

.Etch-a-sketch{
    object-fit: contain;
}

.signupForm{
   object-fit: fill; 
}

.project{
    border: none;
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-style: solid; */
    border-radius: 1.2em;
    box-shadow: 0px 3px 25px -13px;
   
}

.content-right{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 0 1em;
}

.announcements{
    flex-grow: 2;
    
    background-color: beige;
    border-radius: 10px;
}

.trending{
    flex-grow: 1;
    background-color: #f2cbc9;
    border-radius: 10px;
}

.image{
    height:auto;
    width: auto;
}

.action-block{
    position: absolute;
    right:0;
    top:1;
    padding: 0.2em;
}

.image-footer{
    display: flex;
}

